/* CSS reset */
/* General elements */
html, body, div, span, applet, object, iframe,
/* Headers */
h1, h2, h3, h4, h5, h6,
/* Text elements */
p, blockquote, pre,
/* Inline elements */
a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
/* Styling elements */
b, u, i,
/* Lists */
dl, dt, dd, ol, ul, li,
/* Forms & Tables */
button, caption, input, fieldset, form, label, legend, table, textarea, tbody, tfoot, thead, tr, th, td,
/* Semantic elements */
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: none;
	box-sizing: border-box;
	display: flex;
	height: auto;
	flex-direction: column;
	font-size: 100%;
	font: inherit;
	line-height: 150%;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
	/* font-family has to be last in this declaration */
	font-family: "Gentium Plus", "Charis SIL", "Doulos SIL", "Lucida Sans Unicode", "Times New Roman", serif, sans-serif; }

/* Styling by classes or element type */
a, a:hover, a:visited, a:active {
	background: transparent;
	color: inherit;
	text-decoration: none: }

a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var {
	display: inline; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none; }

input {
	background-color: lightgray; }

input[type="date"] {
	flex-direction: row; }

input[type="radio"] {
	align-self: center; }

ol, ul {
	list-style: none; }

table {
	border-collapse: collapse;
	border-spacing: 0;
	display: table; }
	
	tbody {
		display: table-row-group; }
	
	td, td {
		vertical-align: middle; }
	
	td {
		display: table-cell; }
	
	th {
		display: table-cell;
		text-align: center; }
	
	thead {
		display: table-header-group; }
	
	tr {
		display: table-row; }

/* Styling by DOM elements */
html, body {
	background: white; }